In [ ]:
import pandas as pd
import tiktoken
import openai

In [2]:
openai.api_key = ''

In [3]:
df = pd.read_csv('data_judul_berita.csv')

In [4]:
df.head()

,kategori,tanggal_publikasi,judul_berita,tokens
0,Kesra,2018-12-31,574 Pasangan Ikuti Itsbat dan Nikah Massal,28
1,Jakarta Hari Ini,2018-12-31,Sudinsos Jakut Kerahkan 68 P3S di Pusat Kerama...,41
2,Pemerintahan,2018-12-31,Anies Lantik Tiga Pejabat Pimpinan Tinggi Pratama,37
3,Jakarta Hari Ini,2018-12-31,Kelurahan Angke Terjunkan 60 Petugas PPSU di R...,44
4,Kesra,2018-12-31,Warga Marunda Himpun Bantuan Bagi Korban Tsunami,33

In [5]:
model_engine = "davinci"

In [6]:
df['context'] = df.kategori + "\n" + df.tanggal_publikasi + "\n\n" + df.judul_berita 
df.head()

,kategori,tanggal_publikasi,judul_berita,tokens,context
0,Kesra,2018-12-31,574 Pasangan Ikuti Itsbat dan Nikah Massal,28,Kesra\n2018-12-31\n\n574 Pasangan Ikuti Itsbat...
1,Jakarta Hari Ini,2018-12-31,Sudinsos Jakut Kerahkan 68 P3S di Pusat Kerama...,41,Jakarta Hari Ini\n2018-12-31\n\nSudinsos Jakut...
2,Pemerintahan,2018-12-31,Anies Lantik Tiga Pejabat Pimpinan Tinggi Pratama,37,Pemerintahan\n2018-12-31\n\nAnies Lantik Tiga ...
3,Jakarta Hari Ini,2018-12-31,Kelurahan Angke Terjunkan 60 Petugas PPSU di R...,44,Jakarta Hari Ini\n2018-12-31\n\nKelurahan Angk...
4,Kesra,2018-12-31,Warga Marunda Himpun Bantuan Bagi Korban Tsunami,33,Kesra\n2018-12-31\n\n Warga Marunda Himpun Ban...

In [8]:
df.drop('tokens', axis=1, inplace=True)

In [9]:
context = df['context']

In [10]:
context

0     Kesra\n2018-12-31\n\n574 Pasangan Ikuti Itsbat...
1     Jakarta Hari Ini\n2018-12-31\n\nSudinsos Jakut...
2     Pemerintahan\n2018-12-31\n\nAnies Lantik Tiga ...
3     Jakarta Hari Ini\n2018-12-31\n\nKelurahan Angk...
4     Kesra\n2018-12-31\n\n Warga Marunda Himpun Ban...
5     Jakarta Hari Ini\n2018-12-31\n\nSudinsos Jakti...
6     Wisata & Kuliner\n2018-12-31\n\nFestival Kulin...
7     Lintas Kota\n2018-12-31\n\nBupati Minta Aktivi...
8     Olahraga\n2018-12-31\n\nPemkot Jakut Apresiasi...
9     Lintas Kota\n2018-12-31\n\nSudah 60 Meter Kubi...
10    Jakarta Hari Ini\n2018-12-31\n\nBupati Tinjau ...
11    Jakarta Hari Ini\n2018-12-31\n\nRehab Total Ru...
12    Pemerintahan\n2018-12-31\n\nPemkot Jakut Dekla...
13    Jakarta Hari Ini\n2018-12-31\n\nSudin Gulkarma...
14    Jakarta Hari Ini\n2018-12-31\n\nPemkot Jaksel ...
15    Lintas Kota\n2018-12-31\n\nPBB Setu Babakan Di...
16    Jakarta Hari Ini\n2018-12-31\n\nPemkab Adakan ...
17    Jakarta Hari Ini\n2018-12-31\n\nPemprov DKI Se...
18    Lintas Kota\n2018-12-31\n\nSudin KUKMP Jaksel ...
19    Jakarta Hari Ini\n2018-12-31\n\nKebakaran Guda...
20    Jakarta Hari Ini\n2018-12-31\n\nSejumlah Wilay...
21    Transportasi\n2018-12-30\n\nIni Rekayasa Lalin...
22    Jakarta Hari Ini\n2018-12-30\n\nBPRD Buka Laya...
23    Kesra\n2018-12-30\n\nPemprov DKI Adakan Berbag...
24    Lintas Kota\n2018-12-30\n\nKarang Taruna Pulau...
25    Ekonomi\n2018-12-30\n\nDinas KPKP Gelar Penjua...
26    Kesra\n2018-12-30\n\nPemkot Jakbar Galang Dona...
27    Jakarta Hari Ini\n2018-12-30\n\nJakarta Dipred...
28    Jakarta Hari Ini\n2018-12-29\n\nHingga Saat In...
29    Kesehatan\n2018-12-29\n\nAda Waroeng Sehat di ...
30    Jakarta Hari Ini\n2018-12-29\n\nKebakaran Tuju...
31    Jakarta Hari Ini\n2018-12-29\n\nSuban Pajak da...
32    Jakarta Hari Ini\n2018-12-29\n\nSudin SDA Jakt...
33    Jakarta Hari Ini\n2018-12-29\n\nSudin LH Jakse...
34    Jakarta Hari Ini\n2018-12-29\n\nDasa Wisma Kel...
35    Seni & Budaya\n2018-12-29\n\n Bamus Betawi Jak...
36    Lintas Kota\n2018-12-28\n\nBupati Sambut Baik ...
37    Jakarta Hari Ini\n2018-12-28\n\n285 Personel G...
38    Jakarta Hari Ini\n2018-12-28\n\nPos Damkar di ...
Name: context, dtype: object

In [13]:
context

0     Kesra\n2018-12-31\n\n574 Pasangan Ikuti Itsbat...
1     Jakarta Hari Ini\n2018-12-31\n\nSudinsos Jakut...
2     Pemerintahan\n2018-12-31\n\nAnies Lantik Tiga ...
3     Jakarta Hari Ini\n2018-12-31\n\nKelurahan Angk...
4     Kesra\n2018-12-31\n\n Warga Marunda Himpun Ban...
5     Jakarta Hari Ini\n2018-12-31\n\nSudinsos Jakti...
6     Wisata & Kuliner\n2018-12-31\n\nFestival Kulin...
7     Lintas Kota\n2018-12-31\n\nBupati Minta Aktivi...
8     Olahraga\n2018-12-31\n\nPemkot Jakut Apresiasi...
9     Lintas Kota\n2018-12-31\n\nSudah 60 Meter Kubi...
10    Jakarta Hari Ini\n2018-12-31\n\nBupati Tinjau ...
11    Jakarta Hari Ini\n2018-12-31\n\nRehab Total Ru...
12    Pemerintahan\n2018-12-31\n\nPemkot Jakut Dekla...
13    Jakarta Hari Ini\n2018-12-31\n\nSudin Gulkarma...
14    Jakarta Hari Ini\n2018-12-31\n\nPemkot Jaksel ...
15    Lintas Kota\n2018-12-31\n\nPBB Setu Babakan Di...
16    Jakarta Hari Ini\n2018-12-31\n\nPemkab Adakan ...
17    Jakarta Hari Ini\n2018-12-31\n\nPemprov DKI Se...
18    Lintas Kota\n2018-12-31\n\nSudin KUKMP Jaksel ...
19    Jakarta Hari Ini\n2018-12-31\n\nKebakaran Guda...
20    Jakarta Hari Ini\n2018-12-31\n\nSejumlah Wilay...
21    Transportasi\n2018-12-30\n\nIni Rekayasa Lalin...
22    Jakarta Hari Ini\n2018-12-30\n\nBPRD Buka Laya...
23    Kesra\n2018-12-30\n\nPemprov DKI Adakan Berbag...
24    Lintas Kota\n2018-12-30\n\nKarang Taruna Pulau...
25    Ekonomi\n2018-12-30\n\nDinas KPKP Gelar Penjua...
26    Kesra\n2018-12-30\n\nPemkot Jakbar Galang Dona...
27    Jakarta Hari Ini\n2018-12-30\n\nJakarta Dipred...
28    Jakarta Hari Ini\n2018-12-29\n\nHingga Saat In...
29    Kesehatan\n2018-12-29\n\nAda Waroeng Sehat di ...
30    Jakarta Hari Ini\n2018-12-29\n\nKebakaran Tuju...
31    Jakarta Hari Ini\n2018-12-29\n\nSuban Pajak da...
32    Jakarta Hari Ini\n2018-12-29\n\nSudin SDA Jakt...
33    Jakarta Hari Ini\n2018-12-29\n\nSudin LH Jakse...
34    Jakarta Hari Ini\n2018-12-29\n\nDasa Wisma Kel...
35    Seni & Budaya\n2018-12-29\n\n Bamus Betawi Jak...
36    Lintas Kota\n2018-12-28\n\nBupati Sambut Baik ...
37    Jakarta Hari Ini\n2018-12-28\n\n285 Personel G...
38    Jakarta Hari Ini\n2018-12-28\n\nPos Damkar di ...
Name: context, dtype: object

In [14]:
import tiktoken #calculate tokens of each rows using tiktoken library

In [15]:
encoding = tiktoken.get_encoding("gpt2")

In [16]:
def num_tokens_from_string(string: str, encoding_name: str) -> int:
    """Returns the number of tokens in a text string."""
    encoding = tiktoken.get_encoding(encoding_name)
    num_tokens = len(encoding.encode(string))
    return num_tokens

In [17]:
import numpy as np

tokens = []

for line in context:
    num_tokens = num_tokens_from_string(line,'gpt2')
    tokens.append(num_tokens)

arr_tokens = np.array(tokens)
toktoken = pd.DataFrame({"tokens" : arr_tokens})
toktoken.to_csv("tokens.csv", index= False)

print(arr_tokens)

[23 36 32 39 27 37 29 36 29 28 32 38 35 31 33 32 34 31 37 36 30 29 29 33
 35 31 29 27 38 32 35 37 33 34 33 28 34 36 29]

In [19]:
tokens= pd.DataFrame({"tokens" : arr_tokens})

In [20]:
tokens

    tokens
0       23
1       36
2       32
3       39
4       27
5       37
6       29
7       36
8       29
9       28
10      32
11      38
12      35
13      31
14      33
15      32
16      34
17      31
18      37
19      36
20      30
21      29
22      29
23      33
24      35
25      31
26      29
27      27
28      38
29      32
30      35
31      37
32      33
33      34
34      33
35      28
36      34
37      36
38      29

In [21]:
df['tokens'] = tokens['tokens']

In [22]:
df.drop('context', axis=1, inplace=True)

In [23]:
df

,kategori,tanggal_publikasi,judul_berita,tokens
0,Kesra,2018-12-31,574 Pasangan Ikuti Itsbat dan Nikah Massal,23
1,Jakarta Hari Ini,2018-12-31,Sudinsos Jakut Kerahkan 68 P3S di Pusat Kerama...,36
2,Pemerintahan,2018-12-31,Anies Lantik Tiga Pejabat Pimpinan Tinggi Pratama,32
3,Jakarta Hari Ini,2018-12-31,Kelurahan Angke Terjunkan 60 Petugas PPSU di R...,39
4,Kesra,2018-12-31,Warga Marunda Himpun Bantuan Bagi Korban Tsunami,27
5,Jakarta Hari Ini,2018-12-31,Sudinsos Jaktim Dirikan Tenda untuk Korban Keb...,37
6,Wisata & Kuliner,2018-12-31,Festival Kuliner Sambut Tahun Baru di Pulau La...,29
7,Lintas Kota,2018-12-31,Bupati Minta Aktivitas Menyelam Wisatawan Dida...,36
8,Olahraga,2018-12-31,Pemkot Jakut Apresiasi Atlet Berprestasi,29
9,Lintas Kota,2018-12-31,Sudah 60 Meter Kubik Material Vulkanik Dibersi...,28
10,Jakarta Hari Ini,2018-12-31,Bupati Tinjau Dermaga dan Pulau Tujuan Wisata,32
11,Jakarta Hari Ini,2018-12-31,Rehab Total Rumah Pompa Waduk Bojong Ditarget ...,38
12,Pemerintahan,2018-12-31,Pemkot Jakut Deklarasikan Rencana Aksi Daerah ...,35
13,Jakarta Hari Ini,2018-12-31,Sudin Gulkarmat Jaksel Siagakan 100 Personel,31
14,Jakarta Hari Ini,2018-12-31,Pemkot Jaksel Sosialisasikan Kartu Pekerja,33
15,Lintas Kota,2018-12-31,PBB Setu Babakan Dipercantik dengan Lampu Hias,32
16,Jakarta Hari Ini,2018-12-31,Pemkab Adakan Doa Bersama dan Penggalangan Don...,34
17,Jakarta Hari Ini,2018-12-31,Pemprov DKI Serahkan 3.070 Kartu Pekerja,31
18,Lintas Kota,2018-12-31,Sudin KUKMP Jaksel Fasilitasi Pedagang Binaan ...,37
19,Jakarta Hari Ini,2018-12-31,Kebakaran Gudang di Cakung Berhasil Dipadamkan...,36
20,Jakarta Hari Ini,2018-12-31,Sejumlah Wilayah Jakarta akan Diguyur Hujan,30
21,Transportasi,2018-12-30,Ini Rekayasa Lalin Saat Malam Pergantian Tahun,29
22,Jakarta Hari Ini,2018-12-30,BPRD Buka Layanan di HBKB Terakhir 2018,29
23,Kesra,2018-12-30,Pemprov DKI Adakan Berbagai Kegiatan di Malam ...,33
24,Lintas Kota,2018-12-30,Karang Taruna Pulau Pari dan Tidung Galang Don...,35
25,Ekonomi,2018-12-30,Dinas KPKP Gelar Penjualan Telur Murah di 15 L...,31
26,Kesra,2018-12-30,Pemkot Jakbar Galang Donasi untuk Korban Tsunami,29
27,Jakarta Hari Ini,2018-12-30,Jakarta Diprediksi Cerah Berawan,27
28,Jakarta Hari Ini,2018-12-29,"Hingga Saat Ini, 28.905 Lampu LED SS Telah Ter...",38
29,Kesehatan,2018-12-29,Ada Waroeng Sehat di Puskesmas Kecamatan Johar...,32
30,Jakarta Hari Ini,2018-12-29,Kebakaran Tujuh Kosan di Rambutan Dipadamkan P...,35
31,Jakarta Hari Ini,2018-12-29,Suban Pajak dan Retda Jaksel Gelar Razia pada ...,37
32,Jakarta Hari Ini,2018-12-29,Sudin SDA Jaktim Rampungkan Normalisasi 73 Sal...,33
33,Jakarta Hari Ini,2018-12-29,Sudin LH Jaksel Kerahkan 300 Personel di Malam...,34
34,Jakarta Hari Ini,2018-12-29,Dasa Wisma Kelurahan Cipete Utara Dikukuhkan,33
35,Seni & Budaya,2018-12-29,Bamus Betawi Jakut Gelar Pagelaran Seni Budaya,28
36,Lintas Kota,2018-12-28,Bupati Sambut Baik Peresmian Dermaga Sandar Ka...,34
37,Jakarta Hari Ini,2018-12-28,285 Personel Gabungan di Jakpus Apel Persiapan...,36
38,Jakarta Hari Ini,2018-12-28,Pos Damkar di Kebagusan Mulai Dioperasikan,29

In [25]:
df.to_csv('dataset_dg_token_terbaru.csv', index=False)